@charset "UTF-8"

body {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

@keyframes sideFade {
	from {background-color: white;}
	to {background-color: #E41F2D}
}

#sideStripes {
	margin: 0 auto;
	width: 1040px;
	background-color: #E41F2D;
	animation: sideFade;
	animation-duration: 3s;
}

#container {
	width: 960px;
	margin: 0 auto;
	background-color: white;
}

p {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 20px;
	line-height: 32px;
}

h2	{
	font-family: 'Archivo Black', Arial, sans-serif; 
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
}

/* Start Header */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#logoNav {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 20px;
}

#mainNav {
	width: 600px;
	height: 100px;
	background-color: #E41F2D;
	margin-top: 20px;
	margin-right: 20px;
}

#mainNav ul {
	margin-top: 40px;
	text-align: center;
}

#mainNav ul li {  
	font-size: 16px;
	display: inline;
	cursor: pointer;
	margin-left: 20px;
}

#mainNav ul li a {
	text-decoration: none;
	font-family: 'Archivo Black', Arial, sans-serif;
	color: white;
	padding: 5px;
	text-shadow: 0 0 2px black;
}

#mainNav ul li a:hover {
	padding: 5px;
	background-color: white;
	color: #E41F2D;
}

/* End Header */

/* Start Index */

.heroImage {
	position: relative;
	width: 920px;
	height: 540px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.heroImage #landscape {
	position: absolute;
	left: 0%;
	opacity: 0%;
	animation: heroImageChange;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes heroImageChange {
	0% {opacity: 0%;}
	47% {opacity: 100%;}
	48% {opacity: 100%;}
	49% {opacity: 100%;}
	50% {opacity: 100%;}
	51% {opacity: 100%;}
	52% {opacity: 100%;}
	53% {opacity: 100%;}
	54% {opacity: 100%;}
	93% {opacity: 0%;}
	94% {opacity: 0%;}
	95% {opacity: 0%;}
	96% {opacity: 0%;}
	97% {opacity: 0%;}
	98% {opacity: 0%;}
	99% {opacity: 0%;}
	100% {opacity: 0%;}
}

.heroImage h2 {
	position: absolute;
	top: 40px;
	left: 140px;
	font-size: 60px;
	color: white;
	text-shadow: 0 0 10px black;
}

.promoImage {
	width: 320px;
	height: 300px;
}

.promoText {
	width: 560px;
	height: 285px;
	background-color: #cacaca;
	border: 5px solid #E41F2D;
	border-radius: 2px;
	padding-left: 5px;
	padding-top: 5px;
}

.promoText p:first-letter {
	font-size: 26px;
}

/* End Index */

/* Start Gallery */

.galleryBanner {
	position: relative;
	width: 920px;
	height: 320px;
	background-color: black;
	margin-top: 40px;
}

.galleryBanner h2 {
	position: absolute;
	top: 110px;
	left: 200px;
	font-size: 60px;
	color: white;
	text-shadow: 0 0 10px black;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.galleryImage {
	width: 200px;
	height: 200px;
	margin-right: 40px;
}

.imageBox {
	width: 200px;
	height: 300px;
	background-color: black;
	margin-top: 20px;
}

.galleryText {
	width: 660px;
	height: 285px;
	background-color: #cacaca;
	border: 5px solid #E41F2D;
	border-radius: 2px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	margin-top: 20px;
}

.galleryText p:first-letter {
	font-size: 26px;
}

/* End Gallery*/

/* Start Contact */

.contactBanner {
	width: 920px;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 20px;
	position: relative;
}

.contactBanner h2 {
	position: absolute;
	top: 60px;
	left: 300px;
	font-size: 60px;
	color: white;
	text-shadow: 0 0 10px black;
}

.contactBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contactForm {
	position: relative;
	width: 450px;
	height: 640px;
	margin-right: 20px;
}

.contactForm h2 {
	position: absolute;
	font-size: 20px;
	top: 30px;
	left: 150px;
	font-family: 'Raleway', Arial, sans-serif;
}

.contactForm form {
	position: absolute;
	top: 100px;
	left: 40px;
}

.contactForm form label {
	font-size: 20px;
}

.contactForm form input {
	border-radius: 5px;
	box-shadow: 0 2px 5px black;
}

.contactForm form input[type=number]{	
	width: 365px;
}

.contactForm form textarea {
	border-radius: 5px;
	box-shadow: 0 2px 5px black;
	max-width: 365px;
	min-width: 365px;
	max-height: 250px;
	min-height: 250px;
}

.button {
	width: 80px;
	height: 30px;
}

.button[type=reset] {
	width: 80px;
	height: 30px;
	margin-right: 200px;
}

.button:hover {
	cursor: pointer;
}

.contactInfo {
	width: 430px;
	height: 155px;
	background-color: #cacaca;
	border: 5px solid #E41F2D;
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.contactInfo p:first-letter {
	font-size: 26px;
}

.map {
	width: 445px;
	height: 445px;
	background-color: #E41F2D;
	border-radius: 2px;
	margin-top: 20px;
	padding-left: 5px;
	padding-top: 5px;
}

/* End Contact */

/* Start About */

.aboutBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

.aboutImage {
	width: 600px;
	height: 420px;
	background-color: black;
	margin-top: 20px;
}

.aboutText {
	width: 280px;
	height: 405px;
	background-color: #cacaca;
	border: 5px solid #E41F2D;
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 20px;
}

.aboutText p:first-letter {
	font-size: 26px;
}

/* End About */

/* Start Beers */

.beerBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;

}

.beerImage {
	position: relative;
	width: 600px;
	height: 420px;
	margin-top: 20px;
}

.beerImage #beerHand {
	position: absolute;
	left: 0%;
	opacity: 0%;
	animation: beerImageChange;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes beerImageChange {
	0% {opacity: 0%;}
	47% {opacity: 100%;}
	48% {opacity: 100%;}
	49% {opacity: 100%;}
	50% {opacity: 100%;}
	51% {opacity: 100%;}
	52% {opacity: 100%;}
	53% {opacity: 100%;}
	54% {opacity: 100%;}
	93% {opacity: 0%;}
	94% {opacity: 0%;}
	95% {opacity: 0%;}
	96% {opacity: 0%;}
	97% {opacity: 0%;}
	98% {opacity: 0%;}
	99% {opacity: 0%;}
	100% {opacity: 0%;}
}

.beerText {
	width: 280px;
	height: 845px;
	background-color: #cacaca;
	border: 5px solid #E41F2D;
	border-radius: 2px;
	margin-top: 20px;
	margin-left: 20px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
}

.beerText p:first-letter {
	font-size: 26px;
}

/* End Beers */

/* Start Footer */

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 40px 20px 20px;
}

#logoFooter {
	width: 100px;
	height: 100px;
	margin-top: 10px;
}

#footerNav {
	width: 600px;
	height: 100px;
	background-color: #E41F2D;
}

#footerNav ul {
	margin-top: 40px;
	text-align: center;
}

#footerNav ul li {  
	font-size: 16px;
	display: inline;
	cursor: pointer;
	margin-left: 20px;
}

#footerNav ul li a {
	text-decoration: none;
	font-family: 'Archivo Black', Arial, sans-serif;
	color: white;
	padding: 5px;
	text-shadow: 0 0 2px black;
}

#footerNav ul li a:hover {
	padding: 5px;
	background-color: white;
	color: #E41F2D;
}

#socials {
	width: 180px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#socials img {
	margin-top: 35px;
}

#socials img:hover {
	padding-top: 3px;
	opacity: 75%;
}

/* End Footer */